<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.inclassi.testmysql">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon10344250"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InsertActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FuncActivity" />
        <activity android:name=".TaskActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".showSearchActivity" />
        <activity android:name=".showRawSearchActivity" />
        <activity android:name=".NFCActivity" />
        <activity android:name=".ReadActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".showTaskActivity" />
        <activity android:name=".checkTaskActivity" />
        <activity android:name=".updateStatusActivity" />
        <activity android:name=".ViewManuActivity" />
        <activity android:name=".BindingRFIDActivity" />
        <activity android:name=".RFID" />
        <activity android:name=".ViewFinishedStoreActivity"></activity>
    </application>

</manifest>